.App {
  background: rgb(255, 255, 255);
}

.header-container {
  text-align: left;
  padding: 2rem;
  margin: 5px 1rem;
  font-size: 1.5rem;
}

.header {
  display: inline-block;
  padding: 0 5px;
}

.card-container {
  background-color: rgb(61, 135, 255);
  margin: 1rem;
  padding: 12px;
  border-radius: 0.5rem;
  text-align: left;
}

ul {
  padding: 10px 1rem;
}

.cards > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.card-header,
.card-content {
  max-height: 220px;
  overflow: hidden;
  position: relative;
}
