.App {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgb(61, 135, 255);
  padding: 1rem;
  width: 180px;
  height: 180px;
  border-radius: 20%;
}
